* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #070b1a;
    color: white;
    line-height: 1.6;
}


/* Header */

header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #111827, #1e3a8a);
    border-bottom: 1px solid #00e5ff;
}


header h1 {
    font-size: 45px;
    color: #00e5ff;
}


header p {
    font-size: 18px;
    color: #dbeafe;
}


nav {
    margin-top: 20px;
    color: #ffffff;
}



/* Sections */

section {
    margin: 30px auto;
    padding: 30px;
    width: 90%;
    max-width: 1000px;

    background: linear-gradient(145deg,#111827,#1f2937);

    border-radius: 20px;

    box-shadow: 0 0 25px rgba(0,229,255,0.15);
}



h2 {
    color: #8b5cf6;
    margin-bottom: 20px;
}


h3 {
    color: #00e676;
}



/* Hero */

.hero {
    text-align: center;
}


.hero h1 {
    font-size: 38px;
    color: white;
}



.hero p {
    margin: 20px;
    color: #cbd5e1;
}




/* Dashboard Cards */

.dashboard {

    display: flex;
    gap: 20px;
    flex-wrap: wrap;

}



.card {

    flex: 1;
    min-width: 200px;

    background: linear-gradient(135deg,#172554,#312e81);

    padding: 25px;

    border-radius: 18px;

    text-align: center;

    border: 1px solid rgba(0,229,255,0.3);

    box-shadow: 0 0 15px rgba(139,92,246,0.3);

}



.card p {

    color: #00e5ff;

    font-size: 22px;

    font-weight: bold;

}



/* Buttons */


button {

    margin-top: 15px;

    padding: 14px 30px;

    border: none;

    border-radius: 30px;

    background: linear-gradient(90deg,#00e5ff,#8b5cf6);

    color: black;

    font-weight: bold;

    cursor: pointer;

    font-size: 16px;

}


button:hover {

    transform: scale(1.05);

    box-shadow: 0 0 20px #00e5ff;

}




/* Expense Form */


input,
select {


    width: 90%;

    padding: 15px;

    margin: 10px;

    background: #020617;

    color: white;

    border: 2px solid #00e5ff;

    border-radius: 15px;

    font-size: 16px;

}



input::placeholder {

    color: #94a3b8;

}



select {

    cursor: pointer;

}



/* Lists */


li {

    margin: 10px;

    color: #e2e8f0;

}



/* Footer */


footer {

    text-align: center;

    padding: 30px;

    color: #94a3b8;

}
