* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: #080c1f;
    color: white;
    line-height: 1.6;
}


/* Header */

header {
    text-align: center;
    padding: 45px 20px;
    background: linear-gradient(135deg, #111827, #312e81, #0f766e);
}


header h1 {
    font-size: 45px;
    color: #22d3ee;
}


header p {
    color: #e0f2fe;
    font-size: 18px;
}


nav {
    margin-top: 20px;
    color: #ffffff;
}



/* Sections */

section {

    width: 90%;
    max-width: 1100px;

    margin: 35px auto;

    padding: 35px;

    background: rgba(17,24,39,0.9);

    border-radius: 25px;

    box-shadow: 0 0 25px rgba(139,92,246,0.2);

}



section:hover {

    box-shadow: 0 0 35px rgba(34,211,238,0.25);

}



h2 {

    color: #a78bfa;

    margin-bottom: 20px;

}



h3 {

    color: #facc15;

}



/* Hero */


.hero {

    text-align: center;

}



.hero h1 {

    font-size: 40px;

}



.hero p {

    margin: 20px;

    color: #cbd5e1;

}



/* Dashboard */

.dashboard {

    display: flex;

    gap: 20px;

    flex-wrap: wrap;

}



.card {

    flex: 1;

    min-width: 220px;

    padding: 25px;

    text-align: center;


    background: linear-gradient(135deg,#1e3a8a,#6d28d9);


    border-radius: 20px;


    border: 1px solid rgba(34,211,238,0.4);


    transition: 0.3s ease;


}



.card:hover {

    transform: translateY(-10px);

    box-shadow: 0 0 30px rgba(34,211,238,0.5);

}



.card p {

    color: #22d3ee;

    font-size: 22px;

    font-weight: bold;

}




/* Buttons */


button {

    margin-top: 15px;

    padding: 14px 35px;


    border: none;


    border-radius: 30px;


    background: linear-gradient(90deg,#22d3ee,#a78bfa);


    color: black;


    font-weight: bold;


    cursor: pointer;


    font-size: 16px;


    transition: 0.3s;

}



button:hover {

    transform: scale(1.08);

    box-shadow: 0 0 25px #22d3ee;

}




/* Expense Form */


input,
select {


    width: 90%;


    padding: 15px;


    margin: 10px;


    background: #020617;


    color: white;


    border: 2px solid #22d3ee;


    border-radius: 15px;


    font-size: 16px;


}



input::placeholder {

    color: #94a3b8;

}




/* Lists */


li {

    margin: 12px;

    color: #e2e8f0;

}



/* Footer */


footer {

    text-align: center;

    padding: 30px;

    color: #94a3b8;

}
